.banner-wrapper {
	background: url(../images/banner.png) no-repeat top center;
}

.banner {
	max-width: $max-page-width;
	margin: 0 auto;
	text-align: center;
	font-weight: 700;
	font-size: 59px;
	color: #fff;
	text-transform: uppercase;
	padding: 18.5% 0 0;
    line-height: 1.2;
    position: relative;
    z-index: 1;
    
	span {
		font-weight: 300;
		font-size: 45px;
		text-transform: none;
		display: block;
		padding-left: 10%;
		position: relative;

		&:after {
			content: "";
	        width: 86px; 
			height: 90px; 
			position: absolute;
			background: url(../images/and.png);
	       	left: 18%;
    		bottom: 8px;
    		z-index: -1;
		}
	}
}